#(Required)
PRIVATE_KEY=0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
# Bridge
#### SAMB address
WRAPPED_TOKEN=0x2Cf845b49e1c4E5D657fbBF36E97B7B5B7B7b74b 
#(Optional)
# Authority
#### Authority admin address (msg.sender by default)
AUTHORITY_ADMIN=0xDeaDBeefDeaDBeefDeaDBeefDeaDBeefDeaDBeef
# Validator
#### Validator set comma separated list (empty by default)
VALIDATORS=0xDeaDBeefDeaDBeefDeaDBeefDeaDBeefDeaDBeef,0x1B0bB0bB0bB0bB0bB0bB0bB0bB0bB0bB0bB0bB0b,0x3333e3b33e3e3e3e3e3e3e3e3e3e3e3e3e3e3333
#### Payload signer (address(0) by default)
PAYLOAD_SIGNER=0xDeaDBeefDeaDBeefDeaDBeefDeaDBeefDeaDBeef
#### Fee validity window (seconds) (0 by default)
FEE_VALIDITY_WINDOW=100
# Bridge
#### Fee receiver payable address (address(0) by default)
FEE_RECEIVER=0xDeaDBeefDeaDBeefDeaDBeefDeaDBeefDeaDBeef
#### Native send amount to send when claim if needed (0 by default)
NATIVE_SEND_AMOUNT=1000000000000000000
